* {
  background-color: #2f2f2f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #d0d0d0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div {
  margin: 8px;
}
